/* index */
@import 'nib'
@import 'module/_base'
.section-map
  +breakpoint(sm)
    margin 0 10px
  .body
    margin-top 10px
    #map-detail
      height 300px
      border-radius 5px
      overflow hidden
