@import 'nib'
@import 'module/_base'
@import 'module/_reset'

/* common */
.widthFit
  max-width $maxWidth
  width 100%
  margin 0 auto
  overflow hidden

h1, h2, h3, a
  font-size inherit

a
  color $linkcolor_light
  &:hover
    color darken(@color, 20%)
html, body
  background-color $outbgcolor
  font-feature-settings "palt"

.main.container-fluid
  margin-top 15px
  +breakpoint(sm)
    margin-top 0
    padding 0

/* SNS */
.fa
  &.fa-twitter
    background-color: #1da1f3
    color $_base_white
  &.fa-facebook
    background-color: #3b5998
    color $_base_white


/* footer */
.footer
  position absolute
  bottom 0
  width 100%
  box-sizing border-box
  background-color $navbgcolor
  color $_base_white
  padding 10px
  text-align right
  font-size 1.2rem
  margin-top 15px
  +breakpoint(sm)
    margin-top 0
    text-align center
  small
    font-size 1.2rem

/* side-contents */
.contents-side
  +breakpoint(sm)
    margin-top 10px
  .section-side
    margin 0 10px 10px
    border-radius 5px
    text-align center
    overflow hidden
    border 1px solid  $subcolor
    a:not(.btn)
      color $subcolor
    .head
      font-size 1.6rem
      line-height 2.8rem
      padding 0 5px
      background-color $subcolor
      color $_base_white
    .detail
      padding 0
      margin 16px 8px 8px
      dt
        display none
      dd
        color: $subcolor;
        font-size: 1.3rem;

#afNav
  width: 278px
  +breakpoint(md)
    width: 250px
  +breakpoint(sm)
    width: auto
  &.affix
    top: 10px
    position: fixed
    +breakpoint(sm)
      position: static
  &.affix-top
    position: static







/* main-contents */
.contents-main
  +breakpoint(sm)
    margin-top 10px
  .section
    font-size 1.2rem
    +breakpoint(sm)
      margin-left 10px
      margin-right 10px