@import 'nib'
@import 'module/_base'
@import 'module/_reset'

/*
 * common
-*/
a
  color getcolor( "base", "light", "link" )
  &:hover
    color getcolor( "base", "light", "active" )
html, body
  background-color $white
  font-feature-settings "palt"
  font-family 'Lato', 'Noto Sans JP', sans-serif

.widthFit
  max-width $maxWidth
  width 100%
  margin 0 auto
  overflow hidden

h1, h2, h3, a
  font-size inherit


.main.container-fluid
  margin-top 15px
  +breakpoint(sm)
    margin-top 0
    padding 0

/* SNS */
.fa
  &.fa-twitter
    background-color: $tw_bgcolor
    color $white
  &.fa-facebook
    background-color: $fb_bgcolor
    color $white


/* footer */
.footer
  position absolute
  bottom 0
  width 100%
  box-sizing border-box
  background-color getcolor( "base", "dark", "bgcolor" )
  color getcolor( "base", "dark", "color" )
  padding 10px
  text-align right
  font-size 1.2rem
  margin-top 15px
  +breakpoint(sm)
    margin-top 0
    text-align center
  p
    font-size 1.2rem
    small
      font-size 1.2rem

/* side-contents */
.contents-side
  +breakpoint(sm)
    margin-top 10px
  .section-side
    margin 0 10px 10px
    border-radius 5px
    text-align center
    overflow hidden
    border 1px solid getcolor( "sub", "dark", "bgcolor" )
    a:not(.btn)
      color getcolor( "sub", "dark", "bgcolor" )
    .head
      font-size 1.6rem
      font-weight 900
      line-height 2.8rem
      padding 0 5px
      background-color getcolor( "sub", "dark", "bgcolor" )
      color getcolor( "sub", "dark", "color" )
    .detail
      padding 0
      margin 16px 8px 8px
      dt
        display none
      dd
        color getcolor( "sub", "dark", "bgcolor" )
        font-size: 1.3rem;

#afNav
  width: 278px
  +breakpoint(md)
    width: 250px
  +breakpoint(sm)
    width: auto
  &.affix
    top: 10px
    position: fixed
    +breakpoint(sm)
      position: static
  &.affix-top
    position: static







/* main-contents */
.contents-main
  +breakpoint(sm)
    margin-top 10px
  .section
    font-size 1.2rem
    +breakpoint(sm)
      margin-left 10px
      margin-right 10px