/*
 * index
 */
@import 'nib'
@import 'module/_base'
/* top slider */
.topslider
  position relative
  width 100%
  .slidefixed
    absolute top 10px right 10px
    z-index 3
    li
      display inline-block
  .slide-list
    width 100%
    .gallery-cell
      width 100%
      & > a
        position relative
        display block
        width 100%
        height 100%
        img
          display block
          absolute top left bottom right
          width 100%
          height 100%
          z-index 1
        .gallery-cell-content
          display block
          absolute top left bottom right
          width 100%
          height 100%
          z-index 2
          display flex
          flex-direction column
          flex-wrap nowrap
          justify-content center
          align-items center
          .head
            color getcolor( "accent", "dark", "color" )
            font-size 2rem
  .flickity-prev-next-button
    +breakpoint(sm)
      width 22px
      height @width
  .flickity-page-dots
    bottom 4px
    .dot
      background-color #fffa
      width 30px
      border-radius 5px
      margin 0 4px
      opacity 1
      &.is-selected
        background-color #000a
.shareSnsTop
  &-button
    display: block
    .fa
      font-size 2rem
      padding 3px
      width 1.3em
      height 1.3em
      text-align center
      display: block
      border-radius 0.65em
      overflow hidden
      opacity .75
      &:hover
        opacity 1

/* banner */
.aside-banner
  .banner
    &-item
      display block
      margin 10px 10px 0
      & > a
        display block
        overflow hidden
        border-radius 10px
        position relative
        & > img
          display block
          width 100%
          height auto
        .head
          absolute bottom left right
          z-index 1
          background-color rgba( getcolor( "base", "dark", "bgcolor" ), .75 )
          color getcolor( "base", "dark", "color" )
          padding 4px 8px
          font-size 1.4rem
          text-align center

/* news */
.section-news
  .section-head
    background-color getcolor( "brand", "dark", "bgcolor" )
    color getcolor( "brand", "dark", "color" )
    font-size 1.6rem
    overflow hidden
    border-radius 1.4rem
    & >.fa
      display: inline-block
      background-color: getcolor( "brand", "dark", "color" )
      color getcolor( "brand", "dark", "bgcolor" )
      font-size 1.4rem
      line-height 1.6rem
      width 1.6rem
      border-radius (@line-height / 2) rem
      text-align center
      margin .6rem
      vertical-align: .1rem
  .news
    margin 10px
    &-item
      &-head
        font-size 1.6rem
        font-weight bold
        border-bottom 1px solid #000
        display flex
        flex-direction row
        flex-wrap nowrap
        justify-content space-between
        align-items flex-end
        font-weight 900
        time
          font-size 1rem
          font-weight normal
      & + ^[-2..-1]
        margin-top 5px
      &:not(:first-child)
        margin-top 10px
      &-detail
        padding 0 5px
        font-size 1.2rem
        p
          padding-top 5px
          line-height 1.4