@import 'nib'
@import '_variable'

/*!
 * global reset by NIB
 */
global-reset()
body
  reset-body()
ol, ul
  list-style none
table
  reset-table()
caption, th, td
  reset-table-cell()
a img
  border none

html
  font-size $textSize
  min-height 100%
  position relative
body
  margin-bottom 52px
  +breakpoint(sm)
    margin-bottom 37px

p
  margin 0
h1,h2,h3,h4,h5,h6
  font-size 1.2rem
  margin 0
  padding 0
.container
  @media only screen and ( min-width: $screen-sm px )
    width auto

@import "_resset_bootstrap";
