/*!
 * custom for bootstrap
 */
@import 'nib'
@import '_variable'
/* grid system */
.row
  margin-left 0
  margin-right 0
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1,
.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11,
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12
  padding-left 0
  padding-right 0

/* navbar */
.navbar
  min-height auto
.navbar-inverse
  background-color getcolor( "base", "dark", "bgcolor" )
  border-color getcolor( "base", "dark", "bgcolor" )
  color getcolor( "base", "dark", "color" )
  margin-bottom 0
  border-radius 0
  border-width 0
  font-size 1.4rem
  .navbar-nav
    & > .active > a,
    & > .active > a:focus,
    & > .active > a:hover
    & > .open > a,
    & > .open > a:focus,
    & > .open > a:hover
      background-color getcolor( "accent", "dark", "bgcolor" )
      color getcolor( "accent", "dark", "color" )
    +breakpoint(sm)
      margin 0 -15px
    .open
      .dropdown-menu
        +breakpoint(sm)
          background-color getcolor( "base", "dark", "color" )
  .navbar-brand
    height auto
  .navbar-brand,
  .navbar-nav > li > a
    color color getcolor( "base", "dark", "color" )
    padding 8px 15px
    font-weight bold
    +breakpoint(sm)
      padding 0 15px
      line-height 50px
  .navbar-toggle
    border-color getcolor( "base", "dark", "color" )
    border-radius 0
    +breakpoint(sm)
      margin-right 8px
  .navbar-collapse
    border-top none
  .navbar-toggle,
  .navbar-toggle:focus,
  .navbar-toggle:hover
    background-color getcolor( "base", "dark", "color" )
  .navbar-toggle
    padding 5px
    .icon-bar
      height 2px
      border-radius 0
      background-color getcolor( "base", "dark", "bgcolor" )
    .icon-bar2
      color getcolor( "base", "dark", "bgcolor" )
      font-size 9px
      line-height 8px
      display block
      text-align center
      padding-top 2px
    .icon-bar + .icon-bar
      margin-top 3px
.navbar
  .dropdown
    .caret
      position absolute
      display block
      right 3px
      top 22px

.nav-menu
  margin 0 20px 10px
  border-radius 10px
  background-color getcolor( "base", "dark", "bgcolor" )
  font-size 1.2rem
  overflow hidden
  & > .list-unstyled
    padding 3px 0
    & > li > a
      color getcolor( "base", "dark", "color" )
      display block
      padding 3px 6px




