/*
 * color
 */
$white = #fff;
$black = #000;

$basecolor = #333;
$brandcolor = #EE6500;
$subcolor = #EE9A00;
$accentcolor = #009484;
$reservecolor = #0F429E;

$tw_bgcolor = #1da1f3;
$fb_bgcolor = #3b5998;

$color = {
  // 基本
  base: {
    // 背景色有り
    dark: {
      bgcolor: $basecolor,
      color: $white,
      link: #ccc,
      active: $white
    },
    // 背景色無し
    light: {
      color: $basecolor,
      link: #666,
      active: #333
    }
  },
  brand: {
    // 背景色有り
    dark: {
      bgcolor: $brandcolor,
      color: $white,
      link: #aaa,
      active: $white
    },
    // 背景色無し
    light: {
      color: $brandcolor,
      link: #666,
      active: #333
    }
  },
  sub: {
    // 背景色有り
    dark: {
      bgcolor: $subcolor,
      color: $white,
      link: #aaa,
      active: $white
    },
    // 背景色無し
    light: {
      color: $subcolor,
      link: #666,
      active: #333
    }
  },
  accent: {
    // 背景色有り
    dark: {
      bgcolor: $accentcolor,
      color: $white,
      link: #aaa,
      active: $white
    },
    // 背景色無し
    light: {
      color: $accentcolor,
      link: #666,
      active: #333
    }
  }
};

getcolor($type = "base", $tone = "dark", $detail = "color")
  return $color[$type][$tone][$detail]

/*
 * grid, breakpoint
 */
// コンテンツの差最大幅
$maxWidth = 900px;
// SPの幅
$screen-sm = 768px;
// ブレークポイント
breakpoint(bpName)
  for name in bpName
    if name == 'sm'
      @media only screen and (max-width: ( $screen-sm - 1 ) px )
        {block}
    if name == 'md'
      @media only screen and (max-width: ( $maxWidth - 1 ) px )
        {block}

/*
 * font
 */
$textSize = 10px;