/*
 * color
 */
$_base_white = #fff;
$_base_black = #000;

// 領域外の背景色
$outbgcolor = $_base_white;

// 標準のテキスト色（白系）
$basewhitecolor = darken( $_base_white, 5% );
// 標準のテキスト色（黒系）
$baseblackcolor = lighten( $_base_black, 5% );

$navbgcolor = #94cee4;
$navbgcolorLight = #BEE1EF;
$navcolor = #fff;
$navcolorDark = #2D5663;


$mainbgcolor = #333;
$maincolor = #ccc;

$mainbgcolor_light = lighten( $mainbgcolor, 10% );
$mainbgcolor_light2 = lighten( $mainbgcolor, 20% );
$mainbgcolor_light3 = lighten( $mainbgcolor, 30% );
$mainbgcolor_light4 = lighten( $mainbgcolor, 40% );

$maincolor_light4 = lighten( $maincolor, 40% );
$maincolor_light3 = lighten( $maincolor, 30% );
$maincolor_light2 = lighten( $maincolor, 20% );
$maincolor_light = lighten( $maincolor, 10% );
$maincolor_dark = darken( $maincolor, 10% );
$maincolor_dark2 = darken( $maincolor, 20% );
$maincolor_dark3 = darken( $maincolor, 30% );
$maincolor_dark4 = darken( $maincolor, 40% );

$linkBoxcolor = #aaa;
$linkBoxbgcolor = #444;
$linkBoxcolor_current = #ccf;
$linkBoxbgcolor_current = #448;

$linkcolor_light = #ccf;
$linkcolor = #8888c4
$linkcolor_dark = #448;

$noticecolor = #c88;
$noticecolor_light = lighten( $noticecolor, 20% );
$noticecolor_dark = darken( $noticecolor, 20% )


/*
 * grid
 */
$maxWidth = 900px;

/*
 * font
 */
$textSize = 10px;